<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2017. @author lev-gc
  -->

<!DOCTYPE mapper PUBLIC "-//mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="own.spring.boot.template.restful.mapper.user.UserMapper">

    <resultMap id="user" type="own.spring.boot.template.model.user.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="getUser" resultMap="user">
        SELECT * FROM table_users
        <where>
            id=#{param1}
        </where>
    </select>

</mapper>